<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /RESC-QR/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteRule ^(config|core|app|database|storage)/ - [F,L]
</IfModule>